.question-card {
  justify-content: center;
    height: 440px;
    width: 900px;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid black;
  }