@import "../../style/variables.scss";
@import "../../style/responsive.scss";

.edit_course {
  background-color: $main-color;
  color: black;
  padding: 2rem;
  border-radius: 3px;
  .info {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .course_title {
    display: flex;
    justify-content: left;
  }
  .background_course {
    padding-left: 2rem;
    .flex_container {
      display: flex;
      align-items: center;
      gap: 3rem;
      padding-top: 1rem;
    }
  }
  .add_chapter_content {
    display: flex;
    justify-content: left;
    padding-top: 1rem;
    .title_items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      .box_course_cl2 {
        textarea {
        padding: 18px;
        outline: none;
        resize: none;
        font-size: 16px;
        border-radius: 5px;
        border-color: $soft-bg;
      }
        .number_chapter{
          padding: 18px;
          width: 75px;
          outline: none;
          resize: none;
          font-size: 16px;
          border-radius: 5px;
          border-color: $soft-bg;
        }
        .content_chapter {
          padding: 18px;
          outline: none;
          resize: none;
          font-size: 16px;
          border-radius: 5px;
          border-color: $soft-bg;
        }
      }
    }
  }
  .flex_bottom_material{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
