.resetPassword {
  height: 100vh;
}

.resetPassword .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetPassword .login__title {
  font-weight: bold;
  font-size: 26px;
  text-align: left;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.resetPassword .login__desc {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #252626;
  margin-bottom: 30px;
  word-spacing: 1px;
  text-align: justify;
  border-bottom: solid 2px;
  padding-bottom: 20px;
}

.blue-text {
  color: #314995;
}

.orange-text {
  color: #fda94f;
}

.resetPassword .login__text {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}

.resetPassword .login__input {
  border-radius: 10px;
  background-color: #f1f1f1;
}

.resetPassword .login__input label {
  color: black;
  font-family: "Inter", sans-serif !important;
}

.resetPassword .login__input input {
  height: 59px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

.resetPassword .login__input fieldset {
  border-radius: 10px;
  border-color: transparent;
}

.resetPassword .login__view__password__btn {
  color: black !important;
  cursor: pointer;
}

.resetPassword .login__validation__error {
  padding-left: 10px;
  height: 12px;
  color: #d32f2f;
  font-size: 12px;
}

.resetPassword .login__btn {
  height: 59px;
  width: 100%;
  background-color: #314995 !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
  border-radius: 10px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-family: "Inter", sans-serif !important;
}

.resetPassword .login__link {
  float: right;
  display: inline-block;
  text-align: right !important;
  color: #8b8b8b !important;
  font-family: "Inter", sans-serif !important;
}

.resetPassword .login__alert {
  background-color: white !important;
  padding-top: 10px !important;
  color: #d32f2f !important;
  border: 2px solid #d32f2f;
}

.resetPassword .login__alert__success {
  background-color: white !important;
  padding-top: 10px !important;
  color: #2e7d32 !important;
  border: 2px solid #2e7d32;
}
