.sidenav__option__dropdownArrow{
    display: flex;
    justify-items: flex-end;
}

.active{
    font-weight: 700;
}

.dropDown__wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 10px;
}

