// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$light-bg: #ffffff;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$light-text: #333;
$dark-text: #000000;
//custom
$danger-color: #e74c3c; 
$success-color: #27ae60; 
$primary-color: #3498db; 